@media (max-width: 600px) {
    body {
        background-size: 675%;
    }

    /*header*/
    header {
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #divh1header {
        margin-top: 15px;
        margin-bottom: -15px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .discorduser {
        order: 1;
    }
    /**/

    /*main*/
    #h3main_flex {
        flex-wrap: wrap;
    }
    /**/
}